<?xml version=“1.0” encoding="utf-8"?>

<excelsource>/Users/oraLiao/projects/promotion_spec/1.xlsx</excelsource>
<title>上山打老虎</title>
<desc>lalalal</desc>
<bannerurl>http://res.dxycdn.com/trademd/upload/pic/2016/09/18/B1474186439965hsw4tcngpe.jpg!orgin</bannerurl>
<banner_bgr_color>#000000</banner_bgr_color>
<wximg>http://res.dxycdn.com/trademd/upload/pic/2016/09/18/B1474186439965hsw4tcngpe.jpg!orgin</wximg>
<wxtitle>lalalalla</wxtitle>